.container {
    border-top: 2px solid white;

    padding: 1rem;
}

.container > form {
    display: flex;
    align-items: center;
}

.container > form > textarea {
    flex-grow: 1;

    font-size: 1rem;

    margin-right: 1rem;
}