.container {
    display: flex;
    gap: 1rem;
    align-items: center;

    padding: 1rem 2rem 1rem 1rem;

    border: 1px solid white;

    margin-bottom: 0.5rem;
}

.container:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.active {
    background-color: rgba(36, 101, 187, 0.342);
}

.container > img {
    max-width: 55px;
    max-height: 55px;
    aspect-ratio: 1/1;

    object-fit: cover;
    border-radius: 50%;
}