.sentMessage,
.recievedMessage {
    width: fit-content;

    padding: 1rem;
    margin: 1rem;
    border: 2px solid #d34317;
    border-radius: 0.5rem;

    text-align: start;

    background-color: #27272749;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.329);
    color: white;

    white-space: pre-line;
}

.sentMessage {
    margin-left: auto;
}

.sentMessage > h4,
.recievedMessage > h4 {
    margin: 0;
}

.sentMessage > *:last-child,
.recievedMessage > *:last-child {
    margin: 0;
}

.sentMessage > p,
.recievedMessage > p {
    max-width: 60ch;
}